# ===============================
# PYTHON
# ===============================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/

# ===============================
# VENV
# ===============================
.venv/
venv/

# ===============================
# IDE
# ===============================
.vscode/
.idea/

# ===============================
# TEST
# ===============================
.pytest_cache/
.mypy_cache/
.ruff_cache/

# ===============================
# COVERAGE
# ===============================
.coverage
htmlcov/

# ===============================
# ENV
# ===============================
.env

# ===============================
# WINDOWS
# ===============================
Thumbs.db
Desktop.ini

# ===============================
# AUDIO TEMPORAL
# ===============================
runtime/audio/
runtime/**/*.wav

# ===============================
# CACHE
# ===============================
*.tmp
*.cache

# ===============================
# BUILD / PYINSTALLER
# ===============================
work/
build/
dist/
# ===============================
# MODELOS PESADOS
# ===============================
models/whisper-small/model.bin
models/voices/*.onnx

# ===============================
# BUILD / PYINSTALLER
# ===============================
work/
build/
dist/

# ===============================
# MODELOS LOCALES DE IA
# ===============================
models/whisper-small/model.bin
models/voices/*.onnx
